* {
    font-family: "Oxanium";
}

body {
    padding: 0;
    margin: 0;
    background-color: #AAA1C8;
    text-align: center;
}

#navigation_mobile {
    display: none;
}

#footer {
    position: fixed;
    bottom: 0;
    color: white;
    text-align: center;
    background-color: #192A51;
    width: 100%;
}

#navigation a {
    color: white;
    text-decoration: none;
}

#navigation a:hover {
    color: #AAA1C8;
    transition: color 0.2s ease-out;
}

#services:hover #service_dropdown {
    display: block;
}

#navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #192A51;
}

#navigation a  {
    font-size: 30px;
}

.collapsible {
    width: 100%;
    background-color: #192A51;
    border: none;
    color: white;
    font-size: 20px;
}


@media only screen and (max-width: 440px) {
    #navigation_mobile {
        display: block;
        width: 100%;
    }

    #link_items {
        display: none;
        
    }

    #company_logo {
        background-color: #192A51;
    }



    #navigation {
        display: none;
    }
}
